  <app-header></app-header>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center" >
          <h1 data-aos="fade-up" style="color: #005383 !important;  font-size: 6vh !important;">Ofrecemos soluciones a tus tareas, parciales & talleres de programación</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Somos unos programadores talentosos. ¡Contactanos! </h2>
            <br>
          <small data-aos="fade-up" data-aos-delay="500"> Llamadas +573014191174 & Whatsapp +573245198997</small>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="d-flex  text-center text-lg-start">
              <div class="col-6 ">
                <a href="https://wa.me/message/IPXQBPXIDPL4L1" target="_blank" style="background-color: #00BFA5 !important;" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Whatsapp</span>
  
                  <i class="bi bi-whatsapp"></i>
                </a>
              </div>
              
              <div class="col-6">
                <a  href="http://m.me/100071974159607" target="_blank" style="background-color: #005383 !important;" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Messenger</span>
  
                  <i class="bi bi-messenger"></i>
                </a>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../../assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200" >
            <div class="content" >
              <h3>Nosotros</h3>
              <h2>Estudiantes de últimos semestres de ingenería de sistemas, de la prestigiosa Universidad De La Guajira.</h2>
              <p>
                Vidaldy es un proyecto inciado por Dilan Gonzalez Vidal Estudiante de 8 semestre de Ingeniería de Sistemas, 
                junto a colaboradores de la misma institución. ¡Brindando Soluciones! 
            </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="../../assets/img/Wayuu.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section>
    <!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clientes felices</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                <p>Trabajos</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                <p>Soporte</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                <p>Trabajadores</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Servicios</h2>
          <p>Nuestros Servicios</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Talleres</h3>
              <p>Realizamos talleres de programación estructurada y orientada a objetos en los 10 lenguajes más populares. </p>

            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Tareas</h3>
              <p>Realizamos tareas de programación estructurada y orientada a objetos en los 10 lenguajes más populares. </p>

            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Parciales</h3>
              <p>Realizamos parciales o examenes de programación que involucre código, se necesita que se brinde los temas y el tiempo. ¡Por favor, 3 horas de anticipación como mínimo!</p>

            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>Tutorias</h3>
              <p>Tutorias personalizadas en Java, Python, C++, C#, JavaScript, TypeScript. Frameworks Angular 12 & Nodejs.</p>

            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3>Proyectos</h3>
              <p>Los proyectos involucran análisis de requerimientos y firmar un contrato para mayor seguridad y confiabilidad.</p>
            </div>
          </div>

        </div>

      </div>

    </section>
    <!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>TARIFA</h2>
          <p>Nuestros Precios En Pesos Colombianos</p>
        </header>

        <div class="row justify-content-center" data-aos="fade-left">

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
                <h3 style="color: #07d5c0;">Tareas</h3>
                <div class="price"><sup>$</sup>4,000<span class="text-danger"> / ejercicio</span></div>
                <img src="../../assets/img/pricing-free.png" class="img-fluid" alt="">

                
            </div>
            </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="color: #07d5c0;">Talleres</h3>
              <div class="price"><sup>$</sup>5,000<span class="text-danger"> / ejercicio</span></div>
              <img src="../../assets/img/pricing-starter.png" class="img-fluid" alt="">


            </div>
          </div>


          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 style="color: #ff901c;">Quices</h3>
              <div class="price"><sup>$</sup>10,000<span class="text-danger"> / ejercicio</span></div>
              <img src="../../assets/img/pricing-business.png" class="img-fluid" alt="">


            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 style="color: #ff901c;">Parciales</h3>
              <div class="price"><sup>$</sup>15,000<span class="text-danger"> / ejercicio</span></div>
              <img src="../../assets/img/pricing-ultimate.png" class="img-fluid" alt="">

            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 style="color: #65c600;">Tutorias</h3>
              <div class="price"><sup>$</sup>30,000<span class="text-danger"> / hora</span></div>
              <img src="../../assets/img/tutor.jpg" class="img-fluid" alt="">

            </div>
          </div>

        </div>

      </div>

    </section>
    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>PREGUNTAS</h2>
          <p>Preguntas Más Frecuentes</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    ¿Cómo es la modalidad de pago?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Para las tareas y talleres, se cancela el 50% del total antes de la entrega. Para los parciales o quices se paga el 100% antes de su entrega y posterior a su elaboración.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    ¿Cuánto se tarda en realizar un parcial?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    La mitad del tiempo total que nos haya asignado. ¡Aplica para los quices!
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    ¿Cómo es la modalidad de pago para países extranjeros?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Para países extranjeros solo aceptamos dolares, el metodo de pago es por paypal.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    ¿Cómo nos podemos contactar?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    A través de Facebook como <a href="https://www.facebook.com/profile.php?id=100071974159607" target="_blanc">Dylan Vidal</a>,
                    solo para llamadas +573014191174 y para Whatsapp +573245198997
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    ¿Que garantías da?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    El 100% del valor del ejercicio errado, se requiere una justificación y evidencias.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    ¿Por qué confiar?
                </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Nosotros somos programadores con experiencia, este proyecto es liderado por el Dilan Gonzalez Vidal estudiante de 8vo semestre de la universidad de la Guajira, tiene experiencia como diseñador, tutor y Desarrollador Mean-Stack, 
                    Correo institucional: dgonzalezv@uniguajira.edu.co. Ganador del I Coloquio Virtual Internacional De Ingeniería De Sistemas 2020. Link: <a href="https://tecnologia.usfx.bo/wp-content/uploads/2020/12/Agenda-Coloquio-%C3%BAltima-version.pdf">Sistema de capacitación y 
                        certificación sobre el uso de las 
                        herramientas web 2.0...</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section>
    <!-- End F.A.Q Section -->

  </main><!-- End #main -->

  <app-footer></app-footer>